In [1]:
import pandas as pd

In [14]:
census_csv_params = {
	"sep": "\t",
	"encoding": "latin-1",
	"quoting": 3,
	"na_values": [".", " "],
	"usecols": ["add_anon"], #add other columns from census here
	# "nrows":10000
}

In [19]:
census = pd.read_csv(f"input/census/EW1911_geocode_egress_2022_11_03_recid_corrected.txt",**census_csv_params)

In [20]:
census = census.drop_duplicates()
census

                                                add_anon
0                              LADBROKE GROVE PADDINGTON
122           ST JOHN'S VICARAGE KENSAL GREEN PADDINGTON
125       ST JOHN'S SCHOOL HOUSE KENSAL GREEN PADDINGTON
127                 ST JOHNS CARETAKERS HOUSE PADDINGTON
129          ST JOHN'S BUILDINGS KENSAL GREEN PADDINGTON
...                                                  ...
36350555                   TOWN ARSENAL JERSEY C ISLANDS
36350570                     TWON ARSENAL JERSEY ISLANDS
36351080                   ST PETER'S ARSENAL JERSEY C I
36351141                        GROUNVILE ARSENAL JERSEY
36351157                       GROUNVILLE ARSENAL JERSEY

[1557274 rows x 1 columns]

In [22]:
census["add_anon"].str.len().mean()

30.396670975480856