In [1]:
import pandas as pd
import pathlib
import geopandas as gpd
import seaborn as sns

/Users/wknq25/opt/anaconda3/envs/geocoder_py38/lib/python3.8/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/var/folders/fg/_n1n9v7x7x1bk7m6gwfkv97m0000gp/T/ipykernel_4920/2887318932.py:3: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [29]:
list_of_census = [
    "EW_1901",
    # "EW_1861",
    # "EW_1881",
    # "EW_1891",
    # "EW_1901",
    # "EW_1911"
]

geom = "gb1900"

In [30]:
for census in list_of_census:
    country = census.split("_")[0]
    year = census.split("_")[1]
    geom_linked = pd.read_csv(f"analysis/{year}/{country}/{geom}/{geom}_link_lkup_merge.tsv", sep = "\t")

    geom_data = gpd.read_file(f"output/{year}/{country}/{geom}/{geom}_{country}_{year}.geojson")

In [23]:
geom_data

,gb1900_EW_1901,pin_id,final_text,conparid_01-11,CEN_1901,geometry
0,52d73146c4931d000e00b112_111267.0_3520002,52d73146c4931d000e00b112,VICARAGE,111267.0,3520002,POINT (320949.215 328423.258)
1,52d731e3c4931d000800a2a0_111267.0_3520002,52d731e3c4931d000800a2a0,POLICE STATION,111267.0,3520002,POINT (320974.573 328029.188)
2,53f75f10e678ef000b00024c_111267.0_3520002,53f75f10e678ef000b00024c,TY-NEWYDD,111267.0,3520002,POINT (320859.559 327007.848)
3,54a036ecbad6480008001405_111267.0_3520002,54a036ecbad6480008001405,OLD QUARRY,111267.0,3520002,POINT (318164.826 331096.321)
4,54a03719bad6480008001409_111267.0_3520002,54a03719bad6480008001409,HÊN GRAIG,111267.0,3520002,POINT (317350.625 330882.680)
...,...,...,...,...,...,...
1148810,58278e122c66dcdc11012d4c_106355.0_4020001,58278e122c66dcdc11012d4c,PILLAR,106355.0,4020001,POINT (465396.739 299670.842)
1148811,58278e1b2c66dcdc11012d54_106355.0_4020001,58278e1b2c66dcdc11012d54,STATUE,106355.0,4020001,POINT (465380.701 299619.869)
1148812,58278e252c66dcdc11012d5e_106355.0_4020001,58278e252c66dcdc11012d5e,STRETTON HALL,106355.0,4020001,POINT (465352.035 299589.030)
1148813,58278e2e2c66dcdc11012d66_106355.0_4020001,58278e2e2c66dcdc11012d66,STATUE,106355.0,4020001,POINT (465376.126 299526.990)
1148814,58b2730d2c66dc81190ee14e_106355.0_4020001,58b2730d2c66dc81190ee14e,PARLY. CO. DIV. BY.,106355.0,4020001,POINT (465633.412 299476.772)

In [32]:
test = pd.merge(left = geom_linked, right = geom_data[["gb1900_EW_1901", "final_text"]], on = "gb1900_EW_1901",how="left")

In [41]:
test["rapidfuzzy_wratio_s"].median()

1.0

In [27]:
test["final_text"].value_counts().nlargest(40)

HIGH STREET          278075
CHURCH STREET         80538
STREET                56351
WEST STREET           52212
NEW STREET            51303
STATION ROAD          50697
KING STREET           48755
GEORGE STREET         47259
CHURCH                46825
QUEEN STREET          46782
PARK ROAD             45182
NEW ROAD              43754
VICTORIA ROAD         42595
LONDON ROAD           40347
NORTH STREET          40239
PARK STREET           38733
BRIDGE STREET         37658
EAST STREET           37445
VICTORIA STREET       35855
QUEEN'S ROAD          33889
SOUTH STREET          30699
ALBERT ROAD           30415
CHAPEL STREET         30048
ALBERT STREET         29336
MARKET STREET         28966
OXFORD STREET         28735
WILLIAM STREET        28413
UNION STREET          28254
SCHOOL                27878
WELLINGTON STREET     27856
CHURCH ROAD           27687
RECTORY               25679
BROOK STREET          25596
JOHN STREET           24624
DUKE STREET           24331
CHARLES STREET        23784
HILL STREET           23537
CASTLE STREET         23230
JAMES STREET          22801
WOOD STREET           22794
Name: final_text, dtype: int64