In [2]:
import pandas as pd
import geopandas as gpd
import pathlib

/usr/local/anaconda3/envs/census-place-linking/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [6]:

list_of_census = [
    "EW_1851",
    "EW_1861",
    "EW_1881",
    "EW_1891",
    "EW_1901",
    "EW_1911",
    "scot_1851",
    "scot_1861",
    "scot_1871",
    "scot_1881",
    "scot_1891",
    "scot_1901",
]

list_of_census = ["EW_1911"]

for geom in ["os_open_roads"]:

    for census in list_of_census:
        country = census.split("_")[0]
        year = census.split("_")[1]

        linked_dir = pathlib.Path(f"output/{year}_old/{country}/{geom}/linked")

        gis_file = gpd.read_file(linked_dir.parent / f"{geom}_{country}_{year}.geojson")
        # print(gis_file)

        # all_df = pd.DataFrame()
        df_list = []
        for linked_file in linked_dir.iterdir():
            df = pd.read_csv(linked_file, sep="\t", usecols= ["unique_add_id", f"os_open_roads_{country}_{year}"])
            df_list.append(df)
        all_df = pd.concat(df_list)
all_df

KeyboardInterrupt:

In [3]:

list_of_census = [
    "EW_1851",
    "EW_1861",
    "EW_1881",
    "EW_1891",
    "EW_1901",
    "EW_1911",
    "scot_1851",
    "scot_1861",
    "scot_1871",
    "scot_1881",
    "scot_1891",
    "scot_1901",
]

list_of_census = ["EW_1901"]

for geom in ["os_open_roads"]:

    for census in list_of_census:
        country = census.split("_")[0]
        year = census.split("_")[1]

        linked_dir = pathlib.Path(f"output/{year}/{country}")
        # print(linked_dir)
        df_list = []
        for lkup_file in linked_dir.iterdir():
            if "lkup" in str(lkup_file):
                # print(lkup_file)
                df = pd.read_csv(lkup_file, sep="\t", usecols= ["sha256","unique_add_id"])
                df_list.append(df)
        all_df_1 = pd.concat(df_list)
    all_df_1

In [4]:
trial = pd.merge(left = all_df_1, right = all_df, on = "unique_add_id", how = "left")
trial

,sha256,unique_add_id,os_open_roads_EW_1901
0,809a7308fa121847673709f533ce4e5d8cd2853a4c6592...,HIGH STREET_111276_6170001,NaN
1,3932694f04bcf4b28c52e2627b74f8d98ae149b46d3b05...,HIGH STREET_111276_6170001,NaN
2,7f02dbdfc8ad47630bdfdab2fe7aa32d55b3ca9eef5971...,HIGH STREET_111276_6170001,NaN
3,543b3fe5aa2510daa8a7290f6f5102a7c21ddfb1dcbbd4...,HIGH STREET_111276_6170001,NaN
4,c019941ce86121ecec79d010c488f0a73139f8818ef897...,HIGH STREET_111276_6170001,NaN
...,...,...,...
32311984,9052c3d204a8b61517cc6ee3e4d9ccc6a20e6ae862af08...,_111416_6250003,NaN
32311985,60836c2b503640a081cda097691ce24542a31fcc0ccc79...,_111416_6250003,NaN
32311986,b297322c9e2c67297ff9b500d9714a2fa5a1685e0d8384...,_111416_6250003,NaN
32311987,846442635646992b1404d12c922f8e49c4cf53ea2dd551...,_111416_6250003,NaN
32311988,56a408fff376b3d8cb30a6f1607fcb47321a827523d04d...,_111416_6250003,NaN

In [7]:
trial.groupby("os_open_roads_EW_1901", dropna=False).size()

os_open_roads_EW_1901
osgb4000000006295135_109958.0_5610001          16
osgb4000000006295223_110133.0_5650002          85
osgb4000000006295379_110125.0_5650001           7
osgb4000000006295380_110126.0_5650001           1
osgb4000000006296305_110166.0_5660002          89
                                           ...
osgb5000005275941557_101382.0_1450001           9
osgb5000005276010043_100312.0_590001            5
osgb5000005276015361_100003.0_240006            9
osgb5000005276045049_108160.0_4720003           2
NaN                                      11857115
Length: 152134, dtype: int64

In [5]:
all_dfgrouped = all_df.groupby("os_open_roads_EW_1911").size().reset_index(name="count")
all_dfgrouped

                        os_open_roads_EW_1911  count
0       osgb4000000006295222_110138.0_5680001      1
1       osgb4000000006295223_110130.0_5670002     12
2       osgb4000000006295380_110126.0_5670001      5
3       osgb4000000006296140_109958.0_5630001     47
4       osgb4000000006296304_110166.0_5680002      1
...                                       ...    ...
148166  osgb5000005275629313_108554.0_4850004      2
148167  osgb5000005275629756_109727.0_5500002      6
148168    osgb5000005275777231_100001.0_50001      2
148169  osgb5000005275841203_105676.0_3610001      1
148170  osgb5000005275853513_110977.0_6040004      1

[148171 rows x 2 columns]

In [13]:
output = pd.merge(left = gis_file, right = all_dfgrouped, on = "os_open_roads_EW_1901", how = "outer")
output

,os_open_roads_EW_1901,nameTOID,name1,conparid_01-11,CEN_1901,geometry,count
0,osgb4000000006295134_109960.0_5610001,osgb4000000006295134,FOREST DRIVE,109960.0,5610001.0,MULTILINESTRING Z ((378225.000 600232.000 0.00...,NaN
1,osgb4000000006295135_109958.0_5610001,osgb4000000006295135,COTTONSHOPE ROAD,109958.0,5610001.0,MULTILINESTRING Z ((378191.360 603573.690 0.00...,2.0
2,osgb4000000006295144_109958.0_5610001,osgb4000000006295144,BELLSHIEL ROAD,109958.0,5610001.0,MULTILINESTRING Z ((381571.000 603407.000 0.00...,NaN
3,osgb4000000006295145_109958.0_5610001,osgb4000000006295145,BUSHMAN'S ROAD,109958.0,5610001.0,MULTILINESTRING Z ((382718.450 601490.560 0.00...,NaN
4,osgb4000000006295146_109958.0_5610001,osgb4000000006295146,KYLOE ROAD,109958.0,5610001.0,MULTILINESTRING Z ((382733.000 604275.000 0.00...,NaN
...,...,...,...,...,...,...,...
806604,osgb5000005276067656_100852.0_1080002,osgb5000005276067656,BLOXHAM CLOSE,100852.0,1080002.0,MULTILINESTRING Z ((463147.680 154315.140 0.00...,NaN
806605,osgb5000005276068545_102687.0_2070001,osgb5000005276068545,MIAS WAY,102687.0,2070001.0,"LINESTRING Z (567915.090 277945.740 0.000, 567...",NaN
806606,osgb5000005276069028_108099.0_4580003,osgb5000005276069028,ENTWISTLE GREEN,108099.0,4580003.0,MULTILINESTRING Z ((356379.850 406641.610 0.00...,NaN
806607,osgb5000005276069030_108099.0_4580003,osgb5000005276069030,CARNET CLOSE,108099.0,4580003.0,MULTILINESTRING Z ((356508.940 406520.350 0.00...,NaN
806608,osgb5000005276070421_102687.0_2070001,osgb5000005276070421,QUEENS CLOSE,102687.0,2070001.0,"LINESTRING Z (570024.200 277171.530 0.000, 570...",NaN

In [15]:
output.to_file("geometry_testing.geojson", driver="GeoJSON")

In [20]:
new = output.groupby(["CEN_1901", "conparid_01-11"])["count"].sum().reset_index(name = "count")

In [34]:
new = new[new["count"] == 0]
new["tmp_id"] = (
	new["conparid_01-11"].astype(str)
	+ "_"
	+ new["CEN_1901"].astype(int).astype(str))

In [35]:
new

        CEN_1901  conparid_01-11  count            tmp_id
1        10101.0        100002.0    0.0    100002.0_10101
2        10101.0        101148.0    0.0    101148.0_10101
4        10102.0        100002.0    0.0    100002.0_10102
6        10103.0        101148.0    0.0    101148.0_10103
10       20001.0        101137.0    0.0    101137.0_20001
...          ...             ...    ...               ...
20295  6310001.0        111492.0    0.0  111492.0_6310001
20298  6310001.0        111496.0    0.0  111496.0_6310001
20300  6310001.0        111498.0    0.0  111498.0_6310001
20301  6310001.0        111525.0    0.0  111525.0_6310001
20303  6310002.0        111520.0    0.0  111520.0_6310002

[11024 rows x 4 columns]

In [36]:
new.to_csv("cen_conparid_nomatches.tsv",sep="\t", index=False)