In [1]:
import geopandas as gpd
import shapely

/Users/wknq25/opt/anaconda3/envs/geocoder_py38/lib/python3.8/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/var/folders/fg/_n1n9v7x7x1bk7m6gwfkv97m0000gp/T/ipykernel_4147/1754284520.py:1: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [70]:
boundaries = gpd.read_file("output_alignment_test3/1901/EW/1901_EW_boundary.geojson")
boundaries.head()

,tmp_id,conparid_01-11,CEN_1901,geometry
0,100001_10101,100001,10101,"POLYGON ((524683.875 183095.672, 524726.071 18..."
1,100001_10102,100001,10102,"POLYGON ((527302.875 181432.797, 527361.937 18..."
2,100001_10103,100001,10103,"POLYGON ((523827.281 182465.766, 523830.594 18..."
3,100001_10201,100001,10201,"POLYGON ((523225.562 182673.844, 523386.250 18..."
4,100001_10202,100001,10202,"POLYGON ((527754.312 179632.297, 527724.438 17..."

In [71]:
boundaries["geometry"] = boundaries["geometry"].apply(lambda x: shapely.wkt.loads(shapely.wkt.dumps(x, rounding_precision=3)))

In [28]:
boundaries.head()

,tmp_id,conparid_01-11,CEN_1901,geometry
0,100001_10101,100001,10101,"POLYGON ((524683.875 183095.672, 524726.071 18..."
1,100001_10102,100001,10102,"POLYGON ((527302.875 181432.797, 527361.937 18..."
2,100001_10103,100001,10103,"POLYGON ((523827.281 182465.766, 523830.594 18..."
3,100001_10201,100001,10201,"POLYGON ((523225.562 182673.844, 523386.250 18..."
4,100001_10202,100001,10202,"POLYGON ((527754.312 179632.297, 527724.438 17..."

In [29]:
boundaries.to_file("1901_boundarytest.geojson", driver = "GeoJSON")

In [64]:
test_sample = boundaries.sample(random_state=2)
test_sample.head()

,tmp_id,conparid_01-11,CEN_1901,geometry
6110,102002_1700001,102002,1700001,"POLYGON ((521354.031 265879.219, 521060.000 26..."

In [36]:
print(test_sample["geometry"].apply(lambda x: shapely.wkt.dumps(x, trim=True)))

6110    POLYGON ((521354.03124999895 265879.2187499991...
Name: geometry, dtype: object

In [67]:
test_sample["geometry"] = test_sample["geometry"].apply(lambda x: shapely.wkt.loads(shapely.wkt.dumps(x, rounding_precision=3)))

In [72]:
boundaries.to_csv("1901test.tsv", sep ="\t")

In [68]:
test_sample

,tmp_id,conparid_01-11,CEN_1901,geometry
6110,102002_1700001,102002,1700001,"POLYGON ((521354.031 265879.219, 521060.000 26..."

In [66]:
test_sample.to_file("1901test_boundary_sample.geojson", driver = "GeoJSON")