In [1]:
import pandas as pd

In [42]:
year = 1891
cen = f"CEN_{year}"
config = {
# "cen_parid_field": "ParID",
# "rsd_id_field": "CEN_1901",
"encoding": "utf-8",
"sep": "\t",
"quoting": 3,
"usecols":[cen, "POP", "AREA"]}

filepath =  f"input/ew/parish_dicts_encoding/{year}_ICeM_DICTIONARY_CODED.txt"

In [43]:
rsd = pd.read_csv(filepath, **config)
rsd

       CEN_1891    AREA     POP
0         10101   809.0   84159
1         10102   447.0   33687
2         10201  1487.0  118751
3         10202   701.0   47557
4         20001   185.0    8586
...         ...     ...     ...
15108   6310002  2154.0     505
15109   6310002  1044.0     296
15110   6310002  1826.0     168
15111   6310003  2253.0     400
15112   6310003  6293.0    9610

[15113 rows x 3 columns]

In [44]:
rsd.groupby(cen)["AREA"].sum().median()

15942.5