In [1]:
import pandas as pd

In [25]:
census_csv_params = {
	"sep": "\t",
	"encoding": "latin-1",
	"quoting": 3,
	"na_values": [".", " "],
	"usecols": ["RecID", "Age", "Sex", "Occode", "ParID", "Servts", "Country"], #add other columns from census here
	# "nrows":10000
}

list_of_census = [
    "EW_1851",
    # "EW_1861",
    # "EW_1881",
    # "EW_1891",
    # "EW_1901",
    # "EW_1911"
]

# list_of_census = [
#     "SCOT_1851",
#     "SCOT_1861",
#     "SCOT_1871",
#     "SCOT_1881",
#     "SCOT_1891",
#     "SCOT_1901"
# ]

analysis_list = []

for census in list_of_census:
	country = census.split("_")[0]
	year = census.split("_")[1]
	print(year, country)

	# if country == "EW" and year in ["1851", "1861"]:
	# 	suffix = "_v1"
	# else:
	# 	suffix = ""

	# full_census = pd.read_csv(f"/Users/wknq25/Documents/icem/{country}{str(year)[-2:]}outputfile{suffix}.txt",**census_csv_params)
	# print(full_census)
	geocode_output = pd.read_csv(f"analysis_geom_test/{year}/{country}/link_lkup_merged_geoms.tsv", sep = "\t", usecols = ["RecID", "rapidfuzzy_wratio_s_x", "rapidfuzzy_wratio_s_y", "geocode"])
	geocode_output = geocode_output.rename(columns = {"rapidfuzzy_wratio_s_x":"os_open_roads_score", "rapidfuzzy_wratio_s_y":"gb1900_score"})

1851 EW

In [22]:
geocode_output["os_open_roads_score"].describe()

count    7.028884e+06
mean     9.476569e-01
std      5.856471e-02
min      8.500000e-01
25%      9.000000e-01
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: os_open_roads_score, dtype: float64

In [23]:
geocode_output = geocode_output.drop_duplicates()
geocode_output

,unique_add_id_x,os_open_roads_score,gb1900_score,geocode
0,BASINGSTOKE ROAD_1254_1190002,NaN,NaN,not_linked
2,WASING PLACE_1254_1200001,0.869565,1.000000,both
23,_1254_1200001,NaN,NaN,not_linked
31,WASING UPPER FARM_1254_1200001,0.855000,NaN,os_open_roads
39,WASING RECTORY_1254_1200001,NaN,NaN,not_linked
...,...,...,...,...
17498919,CATTERSTONE DAIRY LANE_4668_2780003,NaN,NaN,not_linked
17498923,CATTERSTONE ANN HOUSE_4668_2780003,NaN,0.855000,gb1900
17498931,MANNER HOUSE_4668_2780003,NaN,0.869565,gb1900
17498937,CATHERSTONE COTTAGE_4668_2780003,NaN,0.947368,gb1900
17498949,CHARMOUTH GATE_4668_2780003,NaN,NaN,not_linked

In [24]:
#address only
geocode_output["os_open_roads_score"].describe()

count    121252.000000
mean          0.912789
std           0.053650
min           0.850000
25%           0.855000
50%           0.900000
75%           0.950000
max           1.000000
Name: os_open_roads_score, dtype: float64

In [27]:
geocode_output["os_open_roads_score"].describe().round(2)

count    7028884.00
mean           0.95
std            0.06
min            0.85
25%            0.90
50%            1.00
75%            1.00
max            1.00
Name: os_open_roads_score, dtype: float64